@use "./colors" as *;

@mixin font($size: 1, $weight: normal, $color: $basic-white, $style: normal) {
  color: $color;
  font-style: $style;
  font-weight: $weight;
  font-size: calc(#{$size}rem + 0.5vw);
}

@mixin padding-y($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}

@mixin padding-x($padding) {
  padding-right: $padding;
  padding-left: $padding;
}

@mixin flexrow($justify: initial, $align: initial, $gap: initial) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin flexcol($justify: initial, $align: initial, $gap: initial) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin dropdown($direction: right, $padding-y: 1em, $padding-x: 1.5em) {
  position: absolute;
  top: 100%;
  #{$direction}: 0.5em;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  width: fit-content;
  overflow: hidden;
  max-height: 0;

  &[aria-expanded="true"] {
    padding: $padding-y $padding-x;
    max-height: 100vh;
  }
}

@mixin badge($font-size, $color, $bg-color, $size) {
  @include font($font-size, bold, $color);
  @include flexrow(center, center);
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $bg-color;
}

@mixin gradient($direction: top, $top: 5%, $bottom: 95%) {
  mask-image: linear-gradient(
    to $direction,
    transparent 0%,
    black $top,
    black $bottom,
    transparent 100%
  );
}
