/* FONTS */
$font-primary: Inter, Arial, Helvetica, sans-serif;

/* COLORS */
$basic-white: #ffffff;
$basic-black: #121212;

$light-gray: #f4f7f9;
$lighter-gray: #cad0d6;
$basic-gray: #a8b2ba;
$darker-gray: #727c81;
$dark-gray: #616264;

$light-blue: #00a6ce;
$lighter-blue: #66add6;
$basic-blue: #337ab7;
$darker-blue: #002a42;
$dark-blue: #002033;

$basic-red: #d53948;
$basic-yellow: #fac905;
$basic-green: #26a644;

/* FORMS */
$border-sm: 3px;
$border-md: 6px;
$border-lg: 12px;
$border-xl: 24px;
