@use "src/styles/abstracts" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  text-decoration: none;
}

body {
  min-height: 100vh;
  min-height: 100svh;

  .lock-scroll {
    overflow: hidden;
  }
}

.lock-scroll {
  position: fixed;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  color: $basic-white;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

input {
  border: none;
  background-color: transparent;
}

select {
  border: none;

  option {
    color: $basic-white !important;
  }
}

.empty__message {
  @include padding-y(4em);
  margin: auto;
  width: fit-content;
  max-width: 500px;
  text-align: center;
}
