@use "src/styles/abstracts/mixins" as *;
@use "src/styles/abstracts/variables" as *;

.tickets-table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;

  &__header {
    height: 60px;
  }

  &__row {
    cursor: pointer;

    &:hover {
      background-color: $light-gray;
    }
  }

  &__cell {
    border-bottom: 1px solid $lighter-gray;
    padding: 0.15em 2em;
    height: 42px;

    &--header {
      cursor: pointer;
    }
  }

  &__content {
    @include flexrow(initial, center);
  }

  &__sort-icon {
    margin-left: 5px;

    &--inactive {
      visibility: hidden;
    }
  }

  &__checkbox {
    transform: scale(1.2);
    cursor: pointer;
  }

  &__status {
    width: 100%;
    height: 100%;

    &::before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      width: 6px;
      height: 100%;
      content: "";
    }

    &--new::before {
      background-color: $basic-red;
    }
    &--open::before {
      background-color: $basic-yellow;
    }
    &--waiting::before {
      background-color: $basic-blue;
    }
    &--paused::before {
      background-color: $basic-gray;
    }
    &--resolved::before {
      background-color: $basic-green;
    }
  }

  &__user {
    text-transform: capitalize;
  }
}
