@use "src/styles/abstracts/mixins" as *;
@use "src/styles/abstracts/variables" as *;

.nav {
  @include flexcol(center, center);
  height: 100%;
  background-color: $darker-blue;
}

.navbar {
  padding: 1.5em;
  background-color: $dark-blue;

  &__list {
    @include flexcol(center, initial, 1em);
    white-space: nowrap;
  }

  &__item {
    @include font(0.5, normal, $basic-gray);
  }
}
