@use "src/styles/abstracts/mixins" as *;
@use "src/styles/abstracts/variables" as *;

.nav {
  @include flexcol(center, center);
  background-color: $darker-blue;
  width: 15%;
  height: 100%;
}

.navbar {
  background-color: $dark-blue;
  padding: 1.5em;
  width: 100%;
  overflow: hidden;

  &__list {
    @include flexcol(center, initial, 1em);
    white-space: nowrap;
  }

  &__item {
    @include font(0.5, normal, $basic-gray);

    &:hover,
    &[aria-current="page"] {
      color: $basic-white;
    }
  }
}
