@use "src/styles/abstracts/mixins" as *;
@use "src/styles/abstracts/variables" as *;

.ticket-dropdown {
  @include font(0.35, normal, $dark-gray);
  @include border(1px, $lighter-gray, $border-sm);
  @include flexrow(initial, center, 0.75em);
  position: relative;
  cursor: pointer;
  background-color: $basic-white;
  padding: 0.75em 1em;
  text-transform: capitalize;

  &__icon {
    display: inline-block;
    border-radius: 50%;
    width: 0.75em;
    height: 0.75em;

    &--new {
      background-color: $basic-red;
    }
    &--open {
      background-color: $basic-yellow;
    }
    &--waiting {
      background-color: $basic-blue;
    }
    &--paused {
      background-color: $basic-gray;
    }
    &--resolved {
      background-color: $basic-green;
    }
  }

  &__options {
    @include flexcol();
    position: absolute;
    top: 110%;
    left: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 0.15em;
    width: 100%;

    &[aria-expanded="false"] {
      display: none;
    }
  }

  &__option {
    @include flexrow(initial, center, 0.5em);
    padding: 0.5em 0.75em;

    &:hover {
      background-color: $lighter-gray;
    }
  }
}
