@use "src/styles/abstracts/mixins" as *;
@use "src/styles/abstracts/variables" as *;

.ticket-form {
  @include flexcol(initial, stretch);
  background-color: $light-gray;
  width: 100%;
  height: fit-content;
  min-height: 100%;

  & > div {
    padding: 1em 1.5em;
  }

  &__header {
    @include flexrow(space-between, center);
    border-bottom: 1px solid $lighter-gray;
    background-color: $basic-white;

    &__subject {
      @include flexrow(initial, center, 0.5em);
    }
  }

  &__icon {
    @include font(0.75, normal, $basic-gray);
  }

  &__subject {
    @include font(1, normal);
    padding: 0.25em;

    &--edit {
      cursor: text;

      &:hover {
        background-color: $light-gray;
      }

      &:focus {
        outline: 2px solid $basic-blue;
        background-color: $light-gray;
      }
    }
  }

  &__save {
    @include font(0.5, normal, $basic-white);
    border-radius: $border-sm;
    background-color: $basic-blue;
    padding: 0.5em 0.75em;

    &[disabled] {
      background-color: $basic-gray;
    }
  }

  &__properties {
    @include flexrow(initial, center, 0.5em);
    background-color: $basic-white;
  }

  &__content {
    @include flexrow(initial, stretch, 1em);
    padding: 1em;
    width: 100%;
    height: 100%;
  }

  &__box {
    @include border(1px, $lighter-gray, $border-sm);
    @include flexcol($gap: 1.5em);
    background-color: $basic-white;
    padding: 1em;
  }

  &__users {
    width: 25%;
    height: fit-content;
  }

  &__details {
    @include flexcol(initial, stretch, 1em);
    width: 75%;
  }

  &__select-title {
    @include flexrow(space-between, center);
  }

  &__highlight {
    @include font(0.5, normal, $basic-blue);
    cursor: pointer;
  }

  &__field {
    @include flexcol($gap: 0.5em);
  }

  &__label {
    @include font(0.75, normal);
  }

  &__select,
  &__input,
  &__textarea {
    @include font(0.75, normal);
    @include border(1px, $lighter-gray, $border-md);
    padding: 0.25em 0.5em;

    &:focus {
      outline: 2px solid $basic-blue;
    }
  }

  &__select {
    cursor: pointer;
    background-color: $basic-white;
    text-transform: capitalize;

    & option {
      text-transform: capitalize;
    }
  }

  &__textarea {
    height: 7em;
  }

  &__response-buttons {
    @include flexrow(initial, center, 1em);
    margin-left: auto;
  }

  &__cancel,
  &__publish {
    border-radius: $border-sm;
    padding: 0.5em 0.75em;
    width: fit-content;

    &[disabled] {
      cursor: not-allowed;
    }
  }

  &__cancel {
    @include font(0.5, normal, $basic-blue);
    border: 1px solid $basic-blue;

    &[disabled] {
      border-color: $lighter-gray;
      color: $basic-gray;
    }
  }

  &__publish {
    @include font(0.5, normal, $basic-white);
    background-color: $basic-blue;

    &[disabled] {
      background-color: $basic-gray;
      color: $darker-gray;
    }
  }
}
