@use "src/styles/abstracts/mixins" as *;

.wrapper {
  @include flexrow();
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  height: 100svh;
}

.main {
  @include flexcol();
  flex: 1;
  width: 70%;
  max-width: 85%;
  height: 100%;
}
