@use "src/styles/abstracts/mixins" as *;

.wrapper {
  @include flexrow(center, center);
  background-color: red;
  width: 100%;
  height: 100dvh;
  height: 100svh;
}

.main {
  @include flexcol();
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
