@use "src/styles/abstracts/mixins" as *;

.error {
  @include font(1.25);
  @include flexcol(center, center, 0.25em);
  width: 100%;
  text-align: center;

  &__icon {
    @include font(2.5, normal, red);
  }

  &__header {
    @include font(1.5, bold);
  }

  &__message {
    @include font(1.25, normal, gray);
  }

  &__button {
    @include font(1, normal);
    @include flexrow(initial, center, 0.5em);
    margin-top: 1em;
    background-color: green;
    padding: 0.5em;
    width: fit-content;
  }
}
